#This .gitignore ignores certain files I dont want posted on github.

.metadata
.recommenders

ZGameClient
ZGameLevelCreator
ZGameServer

#Im not sure what this submodule is. I need to look into it.
#I removed it using: git rm --cached module3/ -r
module3
