<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/IT179 Program 4/src/edu/ilstu/StackDecimalToBinary.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ilstu.StackDecimalToBinary"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IT179 Program 4"/>
</launchConfiguration>
